//aqui estou suando vars para simplificar a sintaxe.
//Decidi não colocar as variáveis no arquivo main para evitar poluição visual.
@use 'variables' as vars;
@use 'mixins' as mixins;
@use 'hero';
@use 'shows';
@use 'plans';
@use 'available-devices';
@use 'faq';
@use 'footer';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
}


@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}


body{
    background-color: vars.$corDeFundo;
}

// text size
.text--big{
    @include mixins.text(18px);
}

.text{
    @include mixins.text;
}

.text--small{
    @include mixins.title(12px);
}

//title size

.title--big{
    @include mixins.title(44px);
}

.title{
    @include mixins.title;
}

.title--small{
    @include mixins.title(28px);
}

// Link

.link-text{
    @include mixins.link;
}

button{
    @include mixins.button;
}

//images

.image-text-section{
    @include mixins.image-text-section
}