//Normalmente, a proporção do line-height é 10px maior que o font-size.
@use 'variables' as vars;

@mixin text($fontsize: 16px) {
    font-size: $fontsize;
    line-height: $fontsize+10px;
    color: vars.$corTextoPrincipal;
}

@mixin title($fontsize: 28px) {
    @include text($fontsize)
}

@mixin link($fontsize: 18px) {
    @include text($fontsize);
    color: vars.$corTextoSecundario;
    align-items: center;
    text-decoration: underline;
}

@mixin button {
    display: block;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: vars.$corTextoSecundario;
    background-color: #6421ff;
    text-transform: uppercase;
    border-radius: 4px;
    margin-top: 2vw;
    margin-bottom: 8px;

}

@mixin image-text-section {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    img {
        max-width: 100%;
    }

    &__text-container {
        padding: 2vw;

        h2 {
            margin-bottom: 24px;
        }
    }

    &--image-full-width {
        display: block;
        position: relative;

        img {
            width: 100%;
        }

        &__text-container {
            position: absolute;
            left: 50%;
            top: 0;
            height: 100%;
            width:  calc(50% - 5.6vw);
            display: flex;
            flex-direction: column;
            justify-content: center;
            z-index: 1; // Adicionado para garantir que o texto fique sobre a imagem
        }
    }
}
